.modalBackgorund {

    position: absolute;
    z-index: 6000 ;
    top:auto;
    left:auto;
    background-color: #000;
    
    filter: alpha(opacity = 60);
    -moz-opacity: 0.5;
    opacity: 0.6;



}
